{% extends "layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="table-responsive">
        <table class="table table-hover table-condensed">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>
                <a href="{{ path('contact_add') }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Créer un contact</button></a>
            </th>  <!-- Actions column -->
        </tr>
        </thead>
        {% for contact in contacts %}
            <tr>
                <td><a class="contactNom" href="{{ path('contact', { 'id': contact.id }) }}">{{ contact.nom }}</a></td>
                <td><a href="{{ path('contact', { 'id': contact.id }) }}">{{ contact.prenom }}</a></td>
                <td>{{ contact.email }}</td>
                <td>
                    <a href="{{ path('contact_edit', { 'id': contact.id }) }}" class="btn btn-info btn-xs" title="Editer"><span class="glyphicon glyphicon-edit"></span></a>
                    <button type="button" class="btn btn-danger btn-xs" title="Supprimer" data-toggle="modal" data-target="#contactDialog{{ contact.id }}"><span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <div class="modal fade" id="contactDialog{{ contact.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Confirmation demandé</h4>
                                </div>
                                <div class="modal-body">
                                    Voulez-vous vraiment supprimer ce contact ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                    <a href="{{ path('contact_delete', { 'id': contact.id }) }}" class="btn btn-danger">Supprimer</a>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                </td>
            </tr>
        {% endfor %}
        </table>
        </div>
    {% else %}
        <a href="{{ path('login') }}">Connexion</a>
    {% endif %}
{% endblock %}